.main-cont {
    overflow: hidden;
  }
  
  .job-cont {
    display: flex;
    color: white;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
  }
  